roboDTN/bin
roboDTN/gen
roboDTNTest/bin
roboDTNTest/gen
SDNV/bin
SDNV/gen
SDNVTest/bin
SDNVTest/gen
sdnvlib/bin
sdnvlib/gen
sdnvlibTest/bin
sdnvlibTest/gen


# Android stuff that's only useful locally
roboDTN/local.properties
roboDTN/proguard.cfg
roboDTNTest/local.properties
roboDTNTest/proguard.cfg
SDNV/local.properties
SDNV/proguard.cfg
SDNVTest/local.properties
SDNVTest/proguard.cfg
sdnvlib/local.properties
sdnvlib/proguard.cfg
sdnvlibTest/local.properties
sdnvlibTest/proguard.cfg

# Eclipse stuff we don't need to check in.
roboDTN/.settings/org.eclipse.jdt.core.prefs
roboDTNTest/.settings/org.eclipse.jdt.core.prefs
SDNV/.settings/org.eclipse.jdt.core.prefs
SDNVTest/.settings/org.eclipse.jdt.core.prefs
sdnvlib/.settings/org.eclipse.jdt.core.prefs
sdnvlibTest/.settings/org.eclipse.jdt.core.prefs
